@import url("reset.css");
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk&display=swap");

:root {
    --main-color: #0182d4;
    --second-color: #00c3d3;
    --third-color: #00dcaf;
}

/* HEADER */

header {
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

img.logo {
    height: 40px;
    width: 40px;
    margin: 0 0 0 1em;
    cursor: pointer;
}

button.main-button, button.light-button, button.focus-button {
    font-family: "Space Grotesk", sans-serif;
    float: right;
    outline: none;
    padding: 0.6em 0.6em;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    background-color: var(--main-color);
    color: white;
    font-size: 0.90rem;
}

button.light-button {
    border: solid 1px var(--main-color);
    background-color: transparent;
    color: var(--main-color);
    transition: color 0.3s;
    transition: background-color 0.3s;
}

button.focus-button {
    background-color: var(--third-color);
    color: #00362b;
}

button.light-button:hover {
    background-color: var(--main-color);
    color: white;
}

#login, #create-account {
    margin: 0 1em 0 0;
}

.container-links {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container-links a {
    font-family: "Space Grotesk", sans-serif;
    color: var(--main-color);
    text-decoration: none;
    margin-left: 1.5em;
    position: relative;
    font-size: 1rem;
}

.container-links a::before {
    content: "";
    position: absolute;
    bottom: -2px;
    background-color: var(--main-color);
    width: 100%;
    height: 1px;
    transform-origin: 100% 0;
    transform: scaleX(0);
    transition: transform 0.3s;
}

.container-links a:hover::before {
    transform-origin: 0 0;
    transform: scaleX(1);
}

/* LANDING IMAGE */

.landing-img {
    width: 100%;
    height: 700px;
    background-image: url("../img/bg-turtle.jpg");
    background-size: cover;
    background-position: center;
    position: relative;
}

.landing-container {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    top: 30%;
    left: 5%;
}

.landing-title {
    font-size: 2rem;
    font-family: "Space Grotesk", sans-serif;
    color: white;
    text-shadow: 1px 1px 3px #000;
}

#landing-button {
    margin-top: 1.5em;
}

/* ABOUT CONTAINER */

.about-container {
    display: flex;
    justify-content: space-around;
    height: 250px;
}

.about-cell {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-around;
    width: 20vw;
}

.about-cell img {
    height: 100px;
}

.about-cell p {
    font-family: "Space Grotesk", sans-serif;
    font-size: 1.3rem;
    color: var(--main-color);
}

.card-ribbon {
    position: absolute;
    overflow: hidden;
    top: -10px;
    left: -10px;
    width: 114px;
    height: 112px;
}

.card-ribbon span {
    position: absolute;
    display: block;
    width: 160px;
    padding: 10px 0;
    background-color: #3498db;
    box-shadow: 0 5px 5px rgba(0,0,0,0.2);
    color: #fff;
    font-size: 13px;
    text-transform: uppercase;
    text-align: center;
    left: -35px;
    top: 25px;
    transform: rotate(-45deg);
}

.card-ribbon span::before, .card-ribbon span::after {
    position: absolute;
    z-index: -1;
    content: '';
    display: block;
    border: 5px solid #2980b9;
    border-top-color: transparent;
    border-left-color: transparent;
}

.card-ribbon span::before {
    top: 0;
    right: 0; 
}

.card-ribbon span::after {
    bottom: 0;
    left: 0;
}